// Piccadilly CSS Reset (very trimmed)
// https://piccalil.li/blog/a-modern-css-reset/

// Box sizing rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove default margin
body,
h1,
h2,
p {
  margin: 0;
}

// Set core body defaults
html,
body,
#root,
.App {
  height: 100%;
  text-rendering: optimizeSpeed;
}
