// Piccadilly CSS Reset (very trimmed)
// https://piccalil.li/blog/a-modern-css-reset/

// Remove default margin and padding
// Revise box sizing
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Set core body defaults
html,
body,
#root,
.App {
  height: 100%;
  text-rendering: optimizeSpeed;
}
