@use "../abstracts/variables";

*,
*::before,
*::after {
  font-family: "Pretendard";
  color: #333;
}

body {
  line-height: 1.5;
}

.to-domansa {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
}

h1 {
  font-size: 0.0000001rem;
  font-weight: 700;
  color: transparent;
}

h2,
p {
  font-size: 1.375rem;
  font-weight: 700;
}

h2 {
  line-height: 1;
  color: variables.$utc-foliage-color-6;
}

p {
  line-height: 1.1;
}

.wa,
.center-line {
  text-align: center;
}

.park:hover {
  h2,
  p,
  .sun-status,
  .local-time,
  .coordinates {
    color: variables.$utc-foliage-color-0;
  }
}

.badge,
.sun-status {
  font-size: 0.75rem;
  font-weight: 500;
  color: #fff;
}

.sun-status {
  text-align: center;
}

.sun-down {
  color: #e7e7e7;
}

.sun-golden {
  color: #ff4730;
  font-weight: 700;
}

.local-time,
.coordinates {
  color: variables.$utc-foliage-color-6;
}
