@use "../abstracts/variables";
@use "../abstracts/mixins";

.stream-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: variables.$stream-modal;
}

.back-button {
  position: absolute;
  top: 2.5rem;
  left: -5.25rem;
  z-index: variables.$back-button;
  @include mixins.centeredFlexContainer(row);

  .bg-svg {
    transform: translate(0px, 8px);
    width: 60%;
  }

  .logotype {
    transform: translate(0px, 2px);
    width: 15%;
  }

  .bg-path {
    fill: variables.$utc-foliage-color-1;
  }

  .logotype-path {
    fill: variables.$utc-foliage-color-2;
  }

  &:hover {
    cursor: pointer;

    .bg-svg path {
      fill: variables.$utc-foliage-color-2;
    }

    .logotype path {
      fill: variables.$utc-foliage-color-1;
    }
  }
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
