@use "../abstracts/mixins";

html {
  height: 100%;
}
main {
  @include mixins.centeredFlexContainer(row);
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  height: 100%;
  background: url(../images/bg-4-o70.png);
  background-size: cover;
}
