@use "../abstracts/mixins";

main {
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  height: 100%;
  background: url("bg-4-o70.png"); // for build
  // background: url("assets/bg-4-o70.png"); // for dev
  background-size: cover;
  @include mixins.centeredFlexContainer(row);
}
