@use "../abstracts/mixins";
@use "../abstracts/variables";

.wa {
  @include mixins.centeredFlexContainer(column);
  width: 18rem;
  height: 10rem;

  & .bg-svg {
    transform: translate(0, 8px);
  }

  & .bg-svg path {
    z-index: variables.$bg-svg-path;
    fill: variables.$utc-foliage-color-1;
    transition: all 0.6s;
  }

  &:hover {
    & .bg-svg path {
      fill: variables.$utc-foliage-color-2;
      stroke: none;
      stroke-width: 0;
    }

    & .logotype path {
      fill: variables.$utc-foliage-color-1;
    }

    & h1 {
      user-select: none;
    }
  }
}

.logotype {
  z-index: variables.$logotype;
  width: 20%;

  & path {
    fill: variables.$utc-foliage-color-2;
  }
}

h1 {
  z-index: variables.$h1;
  position: absolute;
  transition: all 0.6s;
}
