/* Variables */
:root {
  --color-hover: rgb(255, 186, 66);
  --color-border: grey;
  --utc-foliage-color-0: #ffffa4;
  --utc-foliage-color-1: #eb562c;
  --utc-foliage-color-2: #fbc861;
  --utc-foliage-color-3: #491c1d;
  --utc-foliage-color-4: #b6482d;
  --utc-foliage-color-5: #321514;
  --utc-foliage-color-6: #7d301d;
  --utc-foliage-color-7: #fad79f;
  --utc-foliage-color-8: #ad292a;
  --utc-foliage-color-9: #9a1c25;
}

/* Piccadilly CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Pretendard';
  color: #333;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html {
  height: 100%;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  /* min-height: 100vh; */
  height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
}

/* Core CSS */
.hidden {
  display: none;
}
.stream-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
.back-button {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%);
  background-color: blue;
  z-index: 5;
  width: 8rem;
  border-radius: 100%;
  color: #FFFFA4;
  background-color: #FF4730;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.back-button:hover {
  background-color: #FFFFA4;
  color: #FF4730;
}
iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.wa {
  width: 18rem;
  height: 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wa svg {
  transform: translate(0, 8px);
}
.wa path {
  z-index: 0;
  fill: #FF4730;
  transition: all .6s;
}
h1 {
  color: #FFFFA4;
  font-size: 1.5rem;
  font-weight: 700;
  transition: all .6s;
  z-index: 1;
}
.wa:hover path {
  fill: #FFFFA4;
  stroke: none;
  stroke-width: 0;
}
.wa:hover h1 {
  color: #FF4730;
  /* color: #FFFFA4; */
  user-select: none;
}
.to-domansa {
  width: 18rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}
#domansa-svg {
  transform: translate(0, 8px);
  position: absolute;
  z-index: 0;
}
.to-domansa path {
  fill: black;
  transition: all .6s;
}
.to-domansa p {
  display: block;
  color: #fff;
  z-index: 1;
}
.to-domansa:hover path {
  fill: #fff;
}
.to-domansa:hover p {
  color: black;
}
test:hover path {
  /* transform: translate(-60,0); */
  /* d: path("m0,12 c0,-6.52055 5.47945,-12 12,-12 l216,0 c6.52055,0 12,5.47945 12,12 l0,111 c0,6.52055 -5.47945,12 -12,12 l-216,0 c-6.52055,0 -12,-5.47945 -12,-12z"); */
  /* d: path("m0,12 l12,-12 l216,0 l12,12 l0,111 l-12,12 l-216,0 l-12,-12z"); */
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#img1);
}
.bg-svg {
  transform: translate(16px, 12px);
  position: absolute;
  z-index: 0;
}
.bg-path {
  fill: #FFFFA4;
  stroke-width: 1;
  transition: all .6s;
}
.park:hover .bg-svg {
  width: 18rem;
  height: 10rem;
  transform: translate(-8px, -8px);
}
.park[data-park-group="0"]:hover .bg-path {
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#bg-pattern-0);
}
.park[data-park-group="1"]:hover .bg-path {
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#bg-pattern-1);
}
.park[data-park-group="2"]:hover .bg-path {
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#bg-pattern-2);
}
.park[data-park-group="3"]:hover .bg-path {
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#bg-pattern-3);
}
.park[data-park-group="4"]:hover .bg-path {
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#bg-pattern-4);
}
.park[data-park-group="5"]:hover .bg-path {
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#bg-pattern-5);
}
.park[data-park-group="6"]:hover .bg-path {
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#bg-pattern-6);
}
.park[data-park-group="7"]:hover .bg-path {
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#bg-pattern-7);
}
.park[data-park-group="8"]:hover .bg-path {
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#bg-pattern-8);
}
.park[data-park-group="9"]:hover .bg-path {
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#bg-pattern-9);
}
.park[data-park-group="10"]:hover .bg-path {
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#bg-pattern-10);
}
.park[data-park-group="11"]:hover .bg-path {
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#bg-pattern-11);
}
.park[data-park-group="12"]:hover .bg-path {
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#bg-pattern-12);
}
.park[data-park-group="13"]:hover .bg-path {
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#bg-pattern-13);
}
.park[data-park-group="14"]:hover .bg-path {
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#bg-pattern-14);
}
.park[data-park-group="15"]:hover .bg-path {
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#bg-pattern-15);
}
.park[data-park-group="16"]:hover .bg-path {
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#bg-pattern-16);
}
.park[data-park-group="17"]:hover .bg-path {
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#bg-pattern-17);
}
.park[data-park-group="18"]:hover .bg-path {
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#bg-pattern-18);
}
.park[data-park-group="19"]:hover .bg-path {
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#bg-pattern-19);
}
.park[data-park-group="20"]:hover .bg-path {
  d: path("m0,0 l120,0 l120,0 l0,135 l-120,0 l-120,0z");
  fill: url(#bg-pattern-20);
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  height: 100%;
  background: url(images/bg-4-o70.png);
  background-size: cover;
}
.park {
  width: 18rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.park:hover {
  cursor: pointer;
}
.rounded-outline {
  transition: all .6s, background-image 1s;
  padding: .5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.park:hover h2,
.park:hover p {
  color: #fffa99;
  background-color: transparent;
}
.park:hover h2 {
  display: none;
}
.park:hover p {
  display: block;
}
.park:hover .sun-status,
.park:hover .local-time,
.park:hover .coordinates {
  color: #FFFFA4;
  background-color: transparent;
  border: solid 1px transparent;
}
.top-line {
  z-index: 1;
  display: flex;
  flex-direction: row;
  gap: .25rem;
}
.badge, .sun-status {
  padding: 0px 4px;
  font-size: .75rem;
  font-weight: 500;
  width: fit-content;
  background-color: none;
  border-radius: 3px;
  color: #fff;
}
.local-time, .coordinates {
  color: var(--utc-foliage-color-6);
  background-color: var(--utc-foliage-color-0);
  border: solid 1px var(--utc-foliage-color-6);
}
.sun-status {
  min-width: 1.5rem;
  text-align: center;
}
.sun-status.sun-up {
  background: rgb(255,255,209);
  background: linear-gradient(0deg, rgba(255,255,209,1) 0%, rgba(244,222,110,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sun-status.sun-up circle {
  fill: #f45a07;
}
.sun-status.sun-up line {
  stroke: #f45a07;
}
.sun-status.sun-down {
  color: #e7e7e7;
  background: rgb(146,109,201);
  background: linear-gradient(0deg, rgba(146,109,201,1) 0%, rgba(37,69,117,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sun-status.sun-down path {
  fill: rgb(254, 255, 180);
}
.sun-status.sun-golden {
  background-color: rgb(255, 187, 0);
  color: #FF4730;
  border: solid 1px #FF4730;
  font-weight: bold;
}
.utc-1 {
  background-color: var(--utc-foliage-color-1);
  color: var(--utc-foliage-color-0);
  /* border: solid 1px var(--utc-foliage-color-1); */
}
.utc-2 {
  background-color: var(--utc-foliage-color-3);
  color: var(--utc-foliage-color-0);
  /* border: solid 1px var(--utc-foliage-color-0); */
}
.utc-7 {
  background-color: var(--utc-foliage-color-2);
  color: var(--utc-foliage-color-3);
  /* border: solid 1px var(--utc-foliage-color-3); */
}
.utc-8 {
  background-color: var(--utc-foliage-color-1);
  color: var(--utc-foliage-color-6);
  /* border: solid 1px var(--utc-foliage-color-6); */
}
.utc-9 {
  background-color: var(--utc-foliage-color-4);
  color: var(--utc-foliage-color-2);
  /* border: solid 1px var(--utc-foliage-color-2); */
}
.utc--3 {
  background-color: var(--utc-foliage-color-6);
  color: var(--utc-foliage-color-0);
  /* border: solid 1px var(--utc-foliage-color-0); */
}
.utc--5 {
  background-color: var(--utc-foliage-color-5);
  color: var(--utc-foliage-color-4);
  /* border: solid 1px var(--utc-foliage-color-4); */
}
.utc--7 {
  background-color: var(--utc-foliage-color-7);
  color: var(--utc-foliage-color-8);
  /* border: solid 1px var(--utc-foliage-color-8); */
}
.utc--8 {
  background-color: var(--utc-foliage-color-3);
  color: var(--utc-foliage-color-2);
  /* border: solid 1px var(--utc-foliage-color-2); */
}
.utc--9 {
  background-color: var(--utc-foliage-color-9);
  color: var(--utc-foliage-color-2);
  /* border: solid 1px var(--utc-foliage-color-2); */
}
.center-line {
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1;
  color: var(--utc-foliage-color-6);
  width: 112px;
  transition: all .6s;
}
p {
  display: none;
  font-size: 1.375rem;
  line-height: 1.1;
  font-weight: 700;
  transition: all .6s;
}
.bottom-line {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}