:root {
  --map-size: 12rem;
  --park-label-diameter: 20rem;
  --color-wa: white;
  --color-water: #5FC7FF;
  --color-land-fill: #9BEF9F;
  --color-land-stroke: #F0FF77;
  --color-text: #222;
  --color-park-bg: #FCD6E0;
  --color-text-hover: #F8FF78;
  --color-park-bg-hover: #FF4730;
  --color-modal-item-bg: #FFFFA4;
  --test-color-park-fill: white;
  --test-color-park-stroke: black;
  --test-color-bg-0: #9FFFB9;
  --test-color-bg-1: #A6AFEA;
  --test-color-bg-2: #FFF67A;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: var(--test-color-bg-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 2s ease-out;
}
.wa-banner {
  width: 14rem;
  height: 4.5rem;
  border-radius: 100%;
  text-align: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-modal-item-bg);
  background-color: var(--color-park-bg-hover);
  z-index: 1;
}
p.wa-banner {
  color: var(--color-park-bg-hover);
  background-color: var(--color-modal-item-bg);
}
p.wa-banner:hover {
  background-color: var(--color-park-bg-hover);
  color: var(--color-modal-item-bg);
  cursor: pointer;
}
.park {
  display: flex;
  flex-direction: column;
  justify-content: center;
  fill: var(--test-color-park-fill);
  stroke: var(--test-color-park-stroke);
  stroke-width:2;
  r: 8;
}
text {
  font-size: .875rem;
  line-height: 1;
  font-weight: 600;
  fill: var(--test-color-park-stroke);
  text-anchor: left;
  alignment-baseline: central;
}
tspan {
  x: 0;
  y: 0;
}
circle:hover,
text:hover {
  cursor: pointer;
}
g.park-group:hover > .park {
  /* fill: var(--color-park-bg-hover); */
  stroke: var(--color-park-bg-hover);
  transition: none;
}
g.park-group:hover > text {
  fill: var(--color-park-bg-hover);
}
.stream-modal {
  z-index: 10;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blur {
  filter: blur(1.25rem);
}
.park-labels {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  transform: translateX(calc(-1 * (22px + 2rem)));
}
.park-label {
  width: var(--park-label-diameter);
  height: var(--park-label-diameter);
  border-radius: 100%;
  border: none;
  background-color: var(--color-modal-item-bg);
  color: var(--color-park-bg-hover);
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: -1.5px;
  padding: 1.75rem;
}
.hidden {
  display: none;
}
.return {
  z-index: 2;
  position: relative;
  width: 4.5rem;
  height: 4.5rem;
  padding: .5rem;
  border-radius: 100%;
  background-color: var(--color-modal-item-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color-park-bg-hover);
}
.park-label:hover,
.return:hover {
  background-color: var(--color-park-bg-hover);
  fill: var(--color-modal-item-bg);
  color: var(--color-modal-item-bg);
  cursor: pointer;
}
h2 {
  font-size: 3rem;
  line-height: 5rem;
}
iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
svg {
  position: absolute;
  width: auto;
  height: auto;
  max-height: calc(100vh - 2.5rem);
  max-width: calc(100vw - 2.5rem);
}
.map-fill {
  fill: var(--test-color-bg-0);
  transition: fill 2s ease-out;
}
.st0{
  fill:#FFFFA4;
  stroke:#FF4730;
  stroke-width:2;
  stroke-linecap:round;
  stroke-miterlimit:10;
  stroke-dasharray:12.5559,12.5559;
}